[Unit]
Description=Milkwarden Edge — UART reader + sync
After=network.target dev-serial0.device dev-ttyUSB0.device
Wants=network.target dev-serial0.device

[Service]
ExecStart=/home/admin/milka/milkwarden-raspberry/vmilka/bin/python /home/admin/milka/milkwarden-raspberry/src/main.py
WorkingDirectory=/home/admin/milka/milkwarden-raspberry
User=admin
Group=admin

Restart=always
RestartSec=5
StartLimitIntervalSec=0

StandardOutput=journal
StandardError=journal
SyslogIdentifier=mw-edge

[Install]
WantedBy=multi-user.target
